@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Lato&family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

//input
.input {
  position: relative;
  border: 1px solid $blue;
  width: 45%;
  padding: 0.7rem;
  border-radius: 4px 0px 0px 4px;
  background: $background-blue !important;

  span {
    display: none;
    font-size: 12px;
    color: $red;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $orange !important;
  }
}

.ant-select-multiple .ant-select-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // padding: 1px 4px;
  height: 55px !important;
  padding: 0.7rem !important;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  text-decoration: none;
   background: grey !important; 
}

.ant-input {
  //  width: 60% !important;
  height: 3rem;
  border-radius: 4px;
  border-color: $blue !important;
  box-shadow: none !important;

  &:hover,
  &:focus,
  &:active {
    height: 3rem;
    box-shadow: $orange !important;
  }

  &.book-input {
    border-color: $blue !important;

    // &:hover,
    // &:focus,
    // &:active {
    //   border-color: $orange !important;
    // }
  }
}

.title {
  font-family: $title;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  margin-top: 1.5rem;
  &.services {
    margin-top: 0.2rem;

  }
  &.member {
    margin-top: 0rem;
 
  }
  @include tablandscape() {
    font-size: 35px;
  }
  @include tablet () {
    font-size: 30px;

  }
  @include mobile() {
    font-size: 30px;
    line-height: 36px;
  }
  &.membership {
    padding-bottom: 8rem;
      // padding-right: 3rem;
    @include mobile() {
      padding-bottom: 0rem;
      padding-right: 0rem;
    }
    @include tablet() {
      padding-bottom: 0rem;
      padding-right: 0rem;
    }
    &.l {
      color: #196980;
    }
    &.m {
      color: #e41b1b;
    }
    &.s {
      color: #8b49e9;
    }
    &.sp {
      color: #f5cf00;
    }
    &.gp {
      color: #898080;
    }
    &.lp {
      color: #2d9cdb;
    }
  }

  &.feat {
    text-align: left;
  }

  &.work-span {
    color: $blue;

  }
}

.footnote {
  text-align: center;
  color: $textblack;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  // padding: 0rem 10rem;
  // @include tablet() {
  //   padding: 0rem 2rem;
  // }
  @include tablandscape() {
    padding: 0rem 6rem;
  }
  @include mobile() {
    //  padding: 0rem 0.5rem;
    font-size: 14px;
  }

  &.d {
    font-size: 24px;
    font-weight: 400;
    font-family: $title;
    @include mobile() {
      font-size: 18px;
    }
    @include tablet() {
      font-size: 20px;
    }
  }

  // @include laptop() {
  //   padding: 0rem 6rem;
  // }
}

.ant-carousel .slick-dots li button {
  // display: block;
  // background: $blue !important;

  // width: 100%;
  // height: 3px;
  // padding: 0;
  // color: transparent;
  // font-size: 0;
  background: grey !important;
  // border: 0;
  // border-radius: 1px;
  // outline: none;
  cursor: pointer;
  opacity: 2 !important;
  // transition: all 0.5s;
  margin-top: 1.3rem;
}
.ant-carousel .slick-dots li.slick-active button {
  background: $orange !important;
  opacity: 2;
}

//interested modal
.interested-modal {
  width: 60% !important;

  .anticon svg {
    color: orange !important;
  }
  @include mobile() {
    width: 100% !important;
  }
  .ant-modal-body {
    padding: 32px !important;
  }
  .form-holder {
    .modal-footnote {
      color: $textblack;
      font-family: "Dosis", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 2rem;
    }
    .ant-form-item {
      padding: 0.5rem;
      border: 0px !important;
      margin-bottom: 0.5rem;
      &:last-child {
        padding: unset;
        border: unset;
        margin-bottom: unset;
      }

    }
    .ant-checkbox-group {
      width: 100%;
      margin-bottom: 1.5rem;

      .ant-checkbox-wrapper {
        width: 100%;

        .ant-checkbox + span {
          padding-right: 1.5rem;
        }
      }
    }
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $orange;
    border-color: $orange;
  }
  .ant-checkbox-inner {
    border: 1px solid $orange !important;
  }
}

.ant-collapse {
  color: $textblack !important;
  font-size: 16px !important;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  background-color: rgba(208, 233, 247, 0.1) !important;
  border: 0 !important;
  border-bottom: 0px !important;
  border-radius: 2px;



  .anticon svg {
    color: black !important;
  }
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 0 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  margin-bottom: 4px !important;
  color: rgba(0, 0, 0, 0.85);
  border: 0.8px solid $orange !important;
}

.error {
  color: $red;
  // display: none;
}
.service-btn {
  outline: none;
  border: 0px;
  color: $white;
   width: 100%;
   height: 55px;
   font-weight: 600;
   line-height: 24px;
   font-size: 16px;
   background: $blue;
   cursor: pointer;
   &:hover,
   &:active {
    background: grey;
   }
 }

.custom-btn {
  outline: none;
  border: 0px;
  border-radius: 4px;
  height: 3rem;
  padding: 0rem 2rem;
  cursor: pointer;

  &.disable {
    pointer-events: none !important;
    cursor: not-allowed !important;
    background: $orange;
  }

  &.into-btn {
    color: $white;
    background: $blue;
    font-weight: 600;
    font-size: 14px;
    @include tablandscape() {
      font-size: 14px;
    }
    @include mobile() {
      width: 100%;
    }
    // @include tablet() {
    //   width: 100%;
    // }
  }
  &.sub {
    color: $white;
    background: $blue;
    font-weight: 600;
    font-size: 16px;
    padding: 0rem 2.5rem;
    @include mobile() {
    }
  }

  &.skel-btn {
    border: 1px solid $orange;
    background: none;
    color: $orange;

    @include mobile() {
      display: none;
    }
    @include tablet() {
      display: none;
    }
  }

  &.side-btn1 {
    color: $blue;
    background: $white;
    width: 100%;
    font-size: 14px;
    @include tablandscape() {
      display: none;
    }
    @include desktop() {
      display: none;
    }
    @include laptop() {
      display: none;
    }
  }

  &.side-btn2 {
    color: $white;
    background: $blue;
    width: 100%;
    font-size: 14px;
    border: 1px solid $white;
    @include tablandscape() {
      display: none;
    }
    @include desktop() {
      display: none;
    }
    @include laptop() {
      display: none;
    }
  }
  &.side-btn3 {
    color: $orange;
    background: $white;
    width: 100%;
    font-size: 14px;
    @include tablandscape() {
      display: none;
    }
    @include desktop() {
      display: none;
    }
    @include laptop() {
      display: none;
    }
  }

  &.nav-btn {
    color: $white;
    background: $blue;
    @include mobile() {
      display: none;
    }
    @include tablet() {
      display: none;
    }
    // @include laptop() {
    //   display: none;
    // }
  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: $background-blue !important;
  border: 1px solid $blue !important;
  // border-radius: 4px 0px 0px 4px !important;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 55px !important;
  padding: 0.7rem !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 50px !important;
}


.slick-list {
  margin: 0 -7px !important;
}

.slick-slide > div {
  padding: 0 9px !important;
}

//doctor bio modal
.modal-doc-bio {
  border-radius: 8px;
  width: 70% !important;

  @include mobile() {
    width: 100% !important;
  }

  .modal-doc-main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    padding-top: 1rem;

    @include mobile() {
      grid-template-columns: 100%;
    }

    .img-holder {
      @include mobile() {
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      img {
        width: 100%;
        height: 24rem;
        border-radius: 8px;
        object-fit: cover;
      }
    }

    .doctor-details {
      min-height: auto;
      max-height: 24rem;
      overflow-y: scroll;

      &.forgroup-pratice {
        max-height: 44rem;
      }

      p.info-label {
        line-height: 18.13px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0.2rem;
        text-transform: capitalize;

        &.available-header {
          margin-bottom: 1rem;
        }
      }

      p.info-answer {
        line-height: 23.13px;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 1rem;
        color: grey;
        text-transform: capitalize;
      }

      .available-for {
        padding: 1rem 1rem 0.5rem;
        background: $white;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin-bottom: 1rem;
      }
    }
  }

  .action-holder {
    margin-top: 1rem;

    button {
      width: 100%;
    }
  }
}
.ant-drawer-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 20px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
  text-rendering: auto;
}

.ant-btn {
  border-radius: 8px;
  height: 3rem;
  outline: none;
  box-shadow: none;
  background: $blue;
  color: $white;
  border: 1px solid transparent !important;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid transparent !important;
    background: $blue;
    outline: none !important;
    box-shadow: none !important;
    color: $white;
  }
}
.ant-drawer-header {
  align-items: center;
  padding: 0 !important;
  line-height: 22px;
  border-bottom: 0 !important;
}
//book drawer
.book-drawer {
  .cancel-btn {
    background: $black;
    color: $white;
    padding: 1.5rem;
    line-height: 0rem;
  }
  .go-btn {
    background: $blue;
    color: $white;
    padding: 1.5rem;
    line-height: 0rem;
  }


  .ant-drawer-content-wrapper {
    width: 40% !important;

    @include mobile() {
      width: 85% !important;
    }

    .heading {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 1rem;
      &.hidctor,
      &.amount {
        font-weight: 700;
      }
      &.amount {
        font-size: 25px;

        &.former-price {
          text-decoration: line-through;
        }

        &:last-child {
          margin-left: 0.5rem;
        }
      }
    }

    .footnote {
      font-size: 16px;
      line-height: 18px;
    }

    .form-holder {
      box-sizing: border-box;

      .slots-holder {
        position: relative;

        &.loading {
          margin: 1rem 0rem 2rem;
        }

        .none-found {
          margin-left: 1.7rem;
          color: $fontgrey;
        }
      }
    }
    .payment-main {
      padding: 6rem 2rem;
      .cost-numbers {
        display: flex;
      }

      .heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 1rem;
        &.hidctor,
        &.amount {
          font-weight: 700;
        }
        &.amount {
          font-size: 25px;
          margin-bottom: 0rem;
  
          @include mobile() {
            margin-bottom: 1rem;
          }
  
          &.former-price {
            text-decoration: line-through;
          }
  
          &:last-child {
            margin-left: 0.5rem;
          }
        }
      }
      .cost-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        @include mobile() {
          flex-direction: column;
        }
      }
  
      .paystack-btn {
        width: 50%;
        background: $blue;
        color: $white;
        font-size: 18px;
  
        @include mobile() {
          width: 100%;
        }
      }
      .text {
        margin-top: 1rem;
        color: #e41b1b;
        font-size: 18px;
      }
    }

    .cost-numbers {
      display: flex;
    }
  }
}


@import "./nav/nav.scss";
@import "./footer/footer.scss";
@import "./homepage/homepage.scss";
@import "./about/about.scss";
@import "./corporate/corporate.scss";
@import "./contact/contact.scss";
@import "./search/bannerform.scss";
@import "./search/doctor.scss";
@import "./search/search.scss";
@import "./search/serviceSearch.scss";

