.spaces {
  padding: 1rem;
  background: $white;
}

.footer-container {
  padding: 3.5rem 3rem;
  background: rgba(208, 233, 247, 0.5);
  z-index: 1;
  // position: relative;
  @include mobile() {
    padding: 3.5rem 1.5rem;
  }
  @include tablet() {
    padding: 2.3rem 2rem;
  }
  @include tablandscape() {
    padding: 2.3rem 3rem;
  }
  @include biggerscreen() {
    padding: 3rem 6rem;
  }
  @include laptop () {
    padding: 3rem 4rem;
  }
  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 1rem;
      font-size: 16px;
      font-weight: 400;

      a {
        color: $textblack;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;

        &:hover {
          color: $orange;
        }
      }
    }
  }
  .logo-img {
    position: relative;
    width: 1.5rem;
  }

  .logo-text {
    margin-left: 3rem;
  }

  .sub-btn {
    border-radius: 0px 4px 4px 0px !important;
    width: 50% !important;
    color: $white;
    padding: 0 !important;
    background: $blue;
    line-height: 18px;
    font-size: 16px;
  }
}

.copy {
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 16px;
  height: 48px;
  font-weight: 400;
  padding: 12px;
  background: #ffffff;
}
